<a href="https://colab.research.google.com/github/iamchenchu/Peer-Learning-USD/blob/main/Week_03_Python_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### So far covered Syllabus
  0. Basics of python and memory representation
  1. Variables and Data Types
  2. Data Structures : `list, tuple, set, dictionary`
  3. Operators
  4. Type Casting
  5. Inputs from the user
  6. Conditionals : `If, else, elif`
  7. Functions : `InBuilt, User Defined`

##### Week 3 : Expected Syllabus

  1. Loops : `While, For`
  2. Object Oriented Programming
    1. Classes
    2. Objects
    3. Absstraction
    4. Encapsulation
    5. Inheritance and types
    6. Polymorphism

In [ ]:
# While loop Basic

i = 1

while i <= 10:
  print(i)
  i = i +1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# While loop with break

product_price = int(input("Please enter the price : "))
nums =1
while nums <= 10:
  if product_price >= 500:
    break
  else :
    print(f"The product price is {product_price}, now the iteration no : {nums}")
  nums += 2

Please enter the price : 100
The product price is 100, now the iteration no : 1
The product price is 100, now the iteration no : 3
The product price is 100, now the iteration no : 5
The product price is 100, now the iteration no : 7
The product price is 100, now the iteration no : 9

In [ ]:
# While loop with continue

product_price = int(input("Please enter the price : "))
nums =1
while nums <= 10:
  if nums == 5:
    nums += 1
    continue
  else :
    print(f"The product price is {product_price}, now the iteration no : {nums}")
  nums += 2

Please enter the price : 123
The product price is 123, now the iteration no : 1
The product price is 123, now the iteration no : 3
The product price is 123, now the iteration no : 6
The product price is 123, now the iteration no : 8
The product price is 123, now the iteration no : 10

In [ ]:
# For Loop

list1 = [10, 20, 30, 40, 50, 60]
names = ("Manohar", "Chenchu", "Ram", "Bheem", "Krishna")

for _ in list1:
  print(_,end='  ')

for _ in names:
  print(_,end='  ')

10  20  30  40  50  60  Manohar  Chenchu  Ram  Bheem  Krishna

In [ ]:
# range(start=0,end=n, step=1)
for num in range(10):
  print(num)

print("The length of the defined list is :",len(list1))

0
1
2
3
4
5
6
7
8
9
The length of the defined list is : 6

In [ ]:
#range with for loop
#6
for val in range(len(list1)):
  #print(val)
  print("Iteration no :",val,":",list1[val])

Iteration no : 0 : 10
Iteration no : 1 : 20
Iteration no : 2 : 30
Iteration no : 3 : 40
Iteration no : 4 : 50
Iteration no : 5 : 60

In [ ]:
# For loop using break

names1 = ("Manohar", "Chenchu", "Ram", "Bheem", "Krishna")

for name in names1:
  if name == "Ram":
    break
  else:
    print(name)

Manohar
Chenchu

In [ ]:
names2 = ("Manohar", "Chenchu", "Ram", "Bheem", "Krishna") # 5
for val in range(len(names2)):
  if names2[val] == "Ram":
    val += 1 # this step is too important in the continue statement
    continue
  else:
    print(names2[val])

Manohar
Chenchu
Bheem
Krishna

In [ ]:
names2 = ("Manohar", "Chenchu", "Ram", "Bheem", "Krishna") # 5
for name in names2:
  if name == "Ram":
    continue
  else:
    print(name)

Manohar
Chenchu
Bheem
Krishna

#### Object Oriented Programming
  1. Classes
  2. Objects
  3. Absstraction
  4. Encapsulation
  5. Inheritance and types
  6. Polymorphism

In [ ]:
# Basic Class
class Student:
  name = "Maha" # class attributes
  age = 28
  univ = "USD"

s1 = Student() # Now we have created an example of the blue print
print(s1.name)
print(s1.age)
print(s1.univ)

s2 = Student() # Now 2nd example created
print(s2.name)
print(s2.age)
print(s2.univ)

Maha
28
USD
Maha
28
USD

In [ ]:
# To create different object attributes I will use constructor

class Students:
  univ = "USD"
  depart ="CSE"

  # Initializing the constructor
  def __init__(self,name, age,dob):
    print(self)
    self.name = name # Task1
    self.age = age
    self.dob = dob
    print("Adding the details")
    print("I am learning python")

  def hello(self):
    print(f"Hello {self.name}")


s1 = Students("Triveni", 25, "Feb")
#print(s1.name, s1.age, s1.dob, s1.univ, s1.depart)
s2 = Students("Manohar", 30, "June")
s3 = Students("Maha",26, "Dec")

s1.hello()

print(s1.univ, s2.univ, s3.univ)
print(s1.depart, s2.depart, s3.depart)

<__main__.Students object at 0x7b598fd02bf0>
Adding the details
I am learning python
<__main__.Students object at 0x7b598fd011b0>
Adding the details
I am learning python
<__main__.Students object at 0x7b598fd02f80>
Adding the details
I am learning python
Hello Triveni
USD USD USD
CSE CSE CSE

In [ ]:
class Demo:
  univ = "IIT"

  def __init__(self, n):
    self.n = n
    print("Object created")

n = input()
d1 = Demo(n)
d2 = Demo(n)
print(d1.n, d2.n)

Manohar
Object created
Object created
Manohar Manohar

In [5]:
# SUNDAY

# SAMPLE CODE
class Car:
  no_of_Tyres = "Four"     # Class Attributes, Variables
  no_of_Stearings = "One"

  def __init__(self, name):
    self.name = name       # Object Attributes
    print(self)

car1 = Car("Suziki")
print(car1.no_of_Tyres)
print(car1.no_of_Stearings)
print(car1.name)

<__main__.Car object at 0x78d22c7270a0>
Four
One
Suziki

In [7]:

class Cars:
  no_of_Tyres = "Four"     # Class Attributes, Variables
  no_of_Stearings = "One"
  def __init__(self):
    print(self)

car1 = Cars()
print(car1)
print(car1.no_of_Tyres)
print(car1.no_of_Stearings)

<__main__.Cars object at 0x78d23ce17f40>
<__main__.Cars object at 0x78d23ce17f40>
Four
One

In [10]:
class Organization:
  name_of_Campany = "Triveni Consultancy Services"
  department = "Finance"

  def __init__(self, name="No Name", id="0000", salary=0):
    self.name = name
    self.id = id
    self.salary = salary

emp1 = Organization("SivaPriya","0002", 9999)

print(emp1) # Should print the address of the object in the memory
print("The company name is :", emp1.name_of_Campany)
print("The Department  is :", emp1.department)
print("Employee name is :", emp1.name)
print("Employee ID :", emp1.id)
print("Employee Salary :", emp1.salary)

<__main__.Organization object at 0x78d22c725f60>
The company name is : Triveni Consultancy Services
The Department  is : Finance
Employee name is : SivaPriya
Employee ID : 0002
Employee Salary : 9999

In [14]:
# Class Methods

class Organization:
  name_of_Campany = "Triveni Consultancy Services"
  department = "Finance"

  def __init__(self, name="No Name", id="0000", salary=0):
    self.name = name
    self.id = id
    self.salary = salary

  def employee_Details(self):  # Class method
    print("The company name is :", self.name_of_Campany)
    print("The Department  is :", self.department)
    print("Employee name is :", self.name)
    print("Employee ID :", self.id)
    print("Employee Salary :", self.salary)


emp1 = Organization("SivaPriya","0002", 9999)
emp2 = Organization("Sailaja","0003", 9999)
emp3 = Organization()

print(emp1) # Should print the address of the object in the memory

# print("The company name is :", emp1.name_of_Campany)
# print("The Department  is :", emp1.department)
# print("Employee name is :", emp1.name)
# print("Employee ID :", emp1.id)
# print("Employee Salary :", emp1.salary)

emp1.employee_Details() # calling the class methods
emp2.employee_Details()
emp3.employee_Details()

<__main__.Organization object at 0x78d23ce15060>
The company name is : Triveni Consultancy Services
The Department  is : Finance
Employee name is : SivaPriya
Employee ID : 0002
Employee Salary : 9999
The company name is : Triveni Consultancy Services
The Department  is : Finance
Employee name is : Sailaja
Employee ID : 0003
Employee Salary : 9999
The company name is : Triveni Consultancy Services
The Department  is : Finance
Employee name is : No Name
Employee ID : 0000
Employee Salary : 0

In [24]:
# Multiple Methods in the class
# Basic Example

class Organization:
  name_of_Campany = "Triveni Consultancy Services"
  department = "Sales"

  def __init__(self, name="No Name", id="0000",target_acheived=[1, 1, 1, 1], salary=0):
    self.name = name
    self.id = id
    self.target_acheived = target_acheived
    self.salary = salary

  def employee_Details(self):
    print("The company name is :", self.name_of_Campany)
    print("The Department  is :", self.department)
    print("Employee name is :", self.name)
    print("Employee ID :", self.id)
    print("Employee Salary :", self.salary)
    print("Revenue achived in the 1st month :",self.target_acheived)

  def rev_average(self):
    sum = 0
    print(len(self.target_acheived))
    for i in self.target_acheived:
      sum = sum + i
    return sum/len(self.target_acheived)


emp1 = Organization("SivaPriya","0002",[50000, 100000, 50000, 200000], 9999)

# print(emp1)  # Should print the address of the object in the memory
# print("The company name is :", emp1.name_of_Campany)
# print("The Department  is :", emp1.department)
# print("Employee name is :", emp1.name)
# print("Employee ID :", emp1.id)
# print("Employee Salary :", emp1.salary)

emp1.employee_Details()
print(emp1.rev_average())

The company name is : Triveni Consultancy Services
The Department  is : Sales
Employee name is : SivaPriya
Employee ID : 0002
Employee Salary : 9999
Revenue achived in the 1st month : [50000, 100000, 50000, 200000]
4
100000.0

In [34]:
# Static methods

class House:
  no_ofDoors = "One"

  def __init__(self, type_OfHouse):
    self.type_OfHouse = type_OfHouse

  def wish(self):
    print(f"Welcome to my {self.type_OfHouse}")

  @staticmethod # in any method, where ever u will not use self, you should declare that method to be staticmethod so that it will stop passing implicit parameter (self)
  def wishing():
    print(f"Welcome to my House")

h1 = House("Apartment")

print(h1.no_ofDoors)
print(h1.type_OfHouse)
h1.wish()
h1.wishing()

One
Apartment
Welcome to my Apartment
Welcome to my House

#### PILLERS OF OOP's
  1. Abstraction : Hiding the implementation of the class and only showing the essential output to the user
  2. Encapsulation  : Wrapping the data and functions into single unit (Object)
  3. Inheritance : child class will be derived from parent class or current class is being derived from another class
  4. Polymorphism : when same operator will have multiple operations as per the context

In [37]:
print(1+1) # Addition

print("Ram" +" "+ "Bheem") # Concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(list1 + list2) # Merging

2
Ram Bheem
[1, 2, 3, 4, 5, 6]

In [38]:
# Abstraction : Hiding the implementation of the class and only showing the essential output to the user

class Car:
  def __init__(self):
    self.accel = False
    self.bre = False
    self.clutch = False

  def start(self):
    print(self.accel)
    print(self.bre)
    print(self.clutch)
    print("Vehicle Started")


car1 = Car()
car1.start() # Trying to show the the abstraction in the class Car

True
True
True
Vehicle Started

In [43]:
# Practice question  Abstraction

class Banking:
  bank_Name = "HDFC"

  def __init__(self, name, acc_no, balance):
    self.name = name
    self.acc_no = acc_no
    self.balance = balance

  def debit(self, num):
    self.balance = self.balance - num
    print(f" The remaining balance in {self.acc_no} account is {self.balance}")

  def credit(self, num):
    self.balance = self.balance + num
    print(f" The remaining balance in {self.acc_no} account is {self.balance}")

  def bal(self):
    print(f" The remaining balance in {self.acc_no} account is {self.balance}")


acc1 = Banking("SivaPriya", "9711432", 1000000)
acc1.bal()
acc1.debit(100000)
acc1.debit(500000)
acc1.credit(1)

 The remaining balance in 9711432 account is 1000000
 The remaining balance in 9711432 account is 900000
 The remaining balance in 9711432 account is 400000
 The remaining balance in 9711432 account is 400001

In [46]:
# CRUD : Create, Read or Access, Update, Delete

# Deletion of the object or object attibute

class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id


s1 = Student("ABC", 123)
print(s1.name)
print(s1.id)

# del s1.id  # we deleted the attribute

# print(s1.id)

del s1
print(s1) # We should expect memory address but we deleted in this case so we will get the error

ABC
123

NameError: name 's1' is not defined

In [48]:
# Updation of Objects

class Student:
  def __init__(self, name, id):
    self.name = name
    self.id = id

s1 = Student("ABC", 123)
print(s1.name)
print(s1.id)


s1.name = "Siva Priyamma" # Updating the object attribute
print(s1.name)

ABC
123
Siva Priyamma

In [53]:
# private Attributes : It is a class attribute which will not be called outside of the class

class Account:
  name_of_bank = "HDFC"

  def __init__(self, acc_name, acc_no, acc_pw):
    self.acc_name = acc_name
    self.acc_no = acc_no
    self.__acc_pw = acc_pw

  def reset_pw(self):
    print(f"Your Password is :{self.__acc_pw}")


c1 = Account("Triveni", "12321", "T123")
c1.reset_pw()

#print(c1.__acc_pw) # We will not be able to aceess this attribut because we have initialized this obj as private variable

Your Password is :T123