<a href="https://colab.research.google.com/github/iamchenchu/Peer-Learning-USD/blob/main/Week_03_Python_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### So far covered Syllabus
  0. Basics of python and memory representation
  1. Variables and Data Types
  2. Data Structures : `list, tuple, set, dictionary`
  3. Operators
  4. Type Casting
  5. Inputs from the user
  6. Conditionals : `If, else, elif`
  7. Functions : `InBuilt, User Defined`

##### Week 3 : Expected Syllabus

  1. Loops : `While, For`
  2. Object Oriented Programming
    1. Classes
    2. Objects
    3. Absstraction
    4. Encapsulation
    5. Inheritance and types
    6. Polymorphism

In [ ]:
# While loop Basic

i = 1

while i <= 10:
  print(i)
  i = i +1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# While loop with break

product_price = int(input("Please enter the price : "))
nums =1
while nums <= 10:
  if product_price >= 500:
    break
  else :
    print(f"The product price is {product_price}, now the iteration no : {nums}")
  nums += 2

Please enter the price : 100
The product price is 100, now the iteration no : 1
The product price is 100, now the iteration no : 3
The product price is 100, now the iteration no : 5
The product price is 100, now the iteration no : 7
The product price is 100, now the iteration no : 9

In [ ]:
# While loop with continue

product_price = int(input("Please enter the price : "))
nums =1
while nums <= 10:
  if nums == 5:
    nums += 1
    continue
  else :
    print(f"The product price is {product_price}, now the iteration no : {nums}")
  nums += 2

Please enter the price : 123
The product price is 123, now the iteration no : 1
The product price is 123, now the iteration no : 3
The product price is 123, now the iteration no : 6
The product price is 123, now the iteration no : 8
The product price is 123, now the iteration no : 10

In [ ]:
# For Loop

list1 = [10, 20, 30, 40, 50, 60]
names = ("Manohar", "Chenchu", "Ram", "Bheem", "Krishna")

for _ in list1:
  print(_,end='  ')

for _ in names:
  print(_,end='  ')

10  20  30  40  50  60  Manohar  Chenchu  Ram  Bheem  Krishna

In [ ]:
# range(start=0,end=n, step=1)
for num in range(10):
  print(num)

print("The length of the defined list is :",len(list1))

0
1
2
3
4
5
6
7
8
9
The length of the defined list is : 6

In [ ]:
#range with for loop
#6
for val in range(len(list1)):
  #print(val)
  print("Iteration no :",val,":",list1[val])

Iteration no : 0 : 10
Iteration no : 1 : 20
Iteration no : 2 : 30
Iteration no : 3 : 40
Iteration no : 4 : 50
Iteration no : 5 : 60

In [ ]:
# For loop using break

names1 = ("Manohar", "Chenchu", "Ram", "Bheem", "Krishna")

for name in names1:
  if name == "Ram":
    break
  else:
    print(name)

Manohar
Chenchu

In [ ]:
names2 = ("Manohar", "Chenchu", "Ram", "Bheem", "Krishna") # 5
for val in range(len(names2)):
  if names2[val] == "Ram":
    val += 1 # this step is too important in the continue statement
    continue
  else:
    print(names2[val])

Manohar
Chenchu
Bheem
Krishna

In [ ]:
names2 = ("Manohar", "Chenchu", "Ram", "Bheem", "Krishna") # 5
for name in names2:
  if name == "Ram":
    continue
  else:
    print(name)

Manohar
Chenchu
Bheem
Krishna

#### Object Oriented Programming
  1. Classes
  2. Objects
  3. Absstraction
  4. Encapsulation
  5. Inheritance and types
  6. Polymorphism

In [ ]:
# Basic Class
class Student:
  name = "Maha" # class attributes
  age = 28
  univ = "USD"

s1 = Student() # Now we have created an example of the blue print
print(s1.name)
print(s1.age)
print(s1.univ)

s2 = Student() # Now 2nd example created
print(s2.name)
print(s2.age)
print(s2.univ)

Maha
28
USD
Maha
28
USD

In [ ]:
# To create different object attributes I will use constructor

class Students:
  univ = "USD"
  depart ="CSE"

  # Initializing the constructor
  def __init__(self,name, age,dob):
    print(self)
    self.name = name # Task1
    self.age = age
    self.dob = dob
    print("Adding the details")
    print("I am learning python")

  def hello(self):
    print(f"Hello {self.name}")


s1 = Students("Triveni", 25, "Feb")
#print(s1.name, s1.age, s1.dob, s1.univ, s1.depart)
s2 = Students("Manohar", 30, "June")
s3 = Students("Maha",26, "Dec")

s1.hello()

print(s1.univ, s2.univ, s3.univ)
print(s1.depart, s2.depart, s3.depart)

<__main__.Students object at 0x7b598fd02bf0>
Adding the details
I am learning python
<__main__.Students object at 0x7b598fd011b0>
Adding the details
I am learning python
<__main__.Students object at 0x7b598fd02f80>
Adding the details
I am learning python
Hello Triveni
USD USD USD
CSE CSE CSE

In [ ]:
class Demo:
  univ = "IIT"

  def __init__(self, n):
    self.n = n
    print("Object created")

n = input()
d1 = Demo(n)
d2 = Demo(n)
print(d1.n, d2.n)

Manohar
Object created
Object created
Manohar Manohar