<a href="https://colab.research.google.com/github/iamchenchu/Peer-Learning-USD/blob/main/Week_02_Python_Crash_Course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Week 2 Expected syllabus

  1. Dictionary and methods
  2. Operators
    * Arithmetic operators  : a = b + c
    * Assignment operators : x = x + a
    * Comparison operators : >, <, >=
    * Logical operators : and or not
    * Identity operators :
    * Membership operators
    * Bitwise operators
  3. Inputs from the user
  4. Conditional Statements `[if, elif, else]`
  5. Loops `[for, while]`
  6. Functions

#### Dictionaries

In [ ]:
# Dictionaries
# Create :
usd = {
    'fee' : [6200, 5500, 3200, 7000, 4500],
    'rent' :[450, 350, 250, 500, 400],
    'department' : {'cse', 'ds', 'Arts', "Bio", 'Bussiness'},
    'course_dur':['one_year', 'two_years', 'one_year', 'one_and_half_year','one_year']
}

# Access/Read :
print(usd.keys()) # Python uses interpreter not compiler
print(usd.values())
print("The items in dict are :",usd.items())
print(usd['department']) # No indexing and random order

# Update :
usd.update({'fee1' : [6200, 5500, 3200, 7000, 4500]}) # Make sure to use the curly brases
usd['country'] = ['india', 'india', 'nepal', 'Sri lanka', 'Pakistan']
print(usd.keys())
usd['country'][0] = 'PAk'
print(usd['country'])

# Delete :
usd.pop('fee1') # Removes the specified item
print(usd.keys())

usd.popitem()  # removes last item
print(usd.keys())

dict_keys(['fee', 'rent', 'department', 'course_dur'])
dict_values([[6200, 5500, 3200, 7000, 4500], [450, 350, 250, 500, 400], {'cse', 'Bussiness', 'Arts', 'Bio', 'ds'}, ['one_year', 'two_years', 'one_year', 'one_and_half_year', 'one_year']])
The items in dict are : dict_items([('fee', [6200, 5500, 3200, 7000, 4500]), ('rent', [450, 350, 250, 500, 400]), ('department', {'cse', 'Bussiness', 'Arts', 'Bio', 'ds'}), ('course_dur', ['one_year', 'two_years', 'one_year', 'one_and_half_year', 'one_year'])])
{'cse', 'Bussiness', 'Arts', 'Bio', 'ds'}
dict_keys(['fee', 'rent', 'department', 'course_dur', 'fee1', 'country'])
['PAk', 'india', 'nepal', 'Sri lanka', 'Pakistan']
dict_keys(['fee', 'rent', 'department', 'course_dur', 'country'])
dict_keys(['fee', 'rent', 'department', 'course_dur'])

#### Operators

In [ ]:
# Operators

# Arithmatic Operators  : +, -, *, /, %, **, //

a = 14
b = 5

print("a+b  :", a+b)   # Addition
print("a-b  :", a-b)   # Subtraction
print("a*b  :", a*b)   # Multiplication
print("a/b  :", a/b)   # Division ,  quotient
print("a%b  :", a%b)   # Modulus , Remainder
print("a//b :", a//b)  # Floor Division
print('a**b :', a**b ) # Exponetiation

a+b  : 19
a-b  : 9
a*b  : 70
a/b  : 2.8
a%b  : 4
a//b : 2
a**b : 537824

In [ ]:
# Assignment Operators : +=, -=, *=, /=

c = 10
d = 5

c += d
print("c += d :", c)

c -= d
print("c -= d :", c)

c *= d
print("c *=d", c)

c /= d
print("c /=d", c)

c += d : 15
c -= d : 10
c *=d 50
c /=d 10.0

In [ ]:
# Comparision Operators <, >, >=, <=, ==, != : Conditions, loops

x = 6
y = 3

print("x >y :", x>y)      # True
print('x < y :', x<y)     # False
print('x >= y :', x>=y)   # True
print('x <= y :', x<=y)   # False
print("x == y :", x == y) # False
print("x != y :", x != y) # True

x >y : True
x < y : False
x >= y : True
x <= y : False
x == y : False
x != y : True

In [ ]:
# Identity Operatos : is, is not

name1 = "Sreelatha"
name2 = "Reddy"
name3 = "Sree"
name4 = "Sree"

print(name3 is name4)       # True
print(name2 is not name1)   # True
print(name1 is not name3)   # True
print(name4 is name3)       # True
print(name2 is not name4)   # True

True
True
True
True
True

In [ ]:
# Logical Operators : and, or, not

print(4>5 and 20<10)     # False
print(100<200 or 10>20)  # True
print(not 100 < 300)     # False

False
True
False

In [ ]:
# Membership Operators : in, not in

list1 = [1, 6, 9, 10, 8]
list2 = [10, 30, 40, 50, 60]

print(6 in list1)            # True
print(100 in list2)          # False
print(10 in list1)           # True
print(10 not in list1)       # False
print(100 not in list1)      # True

True
False
True
False
True

In [ ]:
# Bitwise Operators : &(and), |(or), ~(Not), ^(XOR), <<, >>
print(10 & 10)
print(-5 & 3)
print(-10 & 4)
print(5 | 5)
print(6|4)
print(~10)

10
3
4
5
6
-11

#### Inputs from the user

In [ ]:
f_name =input("First name please : ")
l_name =input("Last name please : ")

print(f_name, l_name) #  Calling multiple variables in single function
print(f"My Full name is {f_name} {l_name}") # F String
print(f_name +" "+ l_name)  # Concatenation
print("My full name is {} {}".format(f_name, l_name)) # String formatting



# While taking input from the user, By default the python thinks the input as String


age1 = int(input("Please enter your age :"))
age2 = int(input("Please enter your age again :"))


 # Incase if we want to have specific datatype as an input then we have to do Type casting

print(age1 + age2)

First name please : chenchu
Last name please : reddy
chenchu reddy
My Full name is chenchu reddy
chenchu reddy
My full name is chenchu reddy
Please enter your age :20
Please enter your age again :20
40

In [ ]:
height = float(input("Please enter your height : "))
age = float(input("Please enter your age : "))

print(type(height))
print(type(age))

print(height + age)

Please enter your height : 5.11
Please enter your age : 26.6
<class 'float'>
<class 'float'>
31.71

#### Conditional statements

If, elif, else : these are the 3 keywords we use for making conditional statements or blocks.

* Mostly we use Comparision Operators <, >, >=, <=, ==, != in the conditional statements

In [ ]:
age = int(input("What is your age :"))

if age > 18:
  print("You are adult")
else:
  print("You are either a teen or a child")

What is your age :30
You are adult

In [ ]:
# If we want 3 conditions to be checked in the block : we shou use if, elif, else

age = int(input("Please enter your age : "))

if age < 14:
  print("You are a child")

elif age >14 and age < 18:
  print("You are Teen")

else:
  print("You are adult")

Please enter your age : 5
You are a child

In [ ]:
age1 = int(input("Please enter your age : "))

if age1 < 14:
  print("You are a child")

elif age1 < 18:
  print("You are Teen")

elif age1 < 25 :
  print("You are Adult")

else:
  print("You are a man")

Please enter your age : 3
You are a child

In [ ]:
# comparision and logical : we use these both operators to make condition leakeage free or strong

age1 = int(input("Please enter your age : "))

if age1 >= 0 and age1 <14:
  print("You are a child")

elif age1 >= 14 and age1 < 18:
  print("You are Teen")

elif age1 >= 18 and age1 < 25 :
  print("You are Adult")

else:
  print("You are a man")

Please enter your age : 22
You are Adult

In [ ]:
# DRY RUN : pen and paper and write logic

# take 3 values and compare the values of each with the other values and find the bigger values of out of 3
a = int(input("Please enter the value of a :"))
b = int(input("Please enter the value of b :"))
c = int(input("Please enter the value of c :"))

# Now write condition to find the bigger value out of 3 values

if a == b and a == c:
  print("All are equal")

elif a == b and a > c:
  if a >= b and a > c:
    print("A and b are equal")
  print("The bigger value is a")

elif b > a and b >= c :
  if b >= c and a < c:
    print("B and C are equal")
  print("The bigger value is b")

else:
  print("The bigger value is c") # DRY RUN : Very very imp

Please enter the value of a :5
Please enter the value of b :10
Please enter the value of c :10
B and C are equal
The bigger value is b

In [ ]:
# Grading

marks = int(input("Please enter your marks :"))

if marks >= 90 :
  print("A")

elif marks >= 80 and marks < 90:
  print("B")

elif marks >= 70 and marks < 80:
  print("C")

elif marks >= 60 and marks < 70:
  print("D")
else :
  print("FAIL")

Please enter your marks :94
A

#### Functions :
 If we want to find a number as even or odd, usually we used write program logic every time we wanted to check.

In [ ]:
a = 10
if a % 2 == 0:
  print("Even")
else:
  print("Odd")

b = 21
if b % 2 == 0:
  print("Even")
else:
  print("Odd")

c = 30
if c % 2 == 0:
  print("Even")
else:
  print("Odd")

# To check each time we wrote 5 lines for each time, to prevent writing the same code multiple times we use functions:

# hello function
def hello():
  print("Hello Friends!!")

hello()
hello()

Even
Odd
Even
Hello Friends!!
Hello Friends!!

In [ ]:
# Create a function of ever or odd

def eoo(num, num2=10):
  if num % 2 == 0:
    print("Even")
  elif num2 != 0:
    print("Odd")

  print(num)
  print(num2)

eoo(100, 20)

Even
100
20

In [ ]:
# We can initialize the parameter values during the function creation if required

def hello(name="World"):
  print(f"Hello {name}")

hello("Manohar")
hello(1)
hello()
hello("Ram")

Hello Manohar
Hello 1
Hello World
Hello Ram

In [ ]:
def table(num):
  return num/3

table(21)

7.0

In [ ]:
# Function within a function

def wish(name= "World"):
  print(f"Hello {name}")
  wish_from_Univ("IIT")


def wish_from_Univ(uni_name="USD"):
  print(f"Welcome to {uni_name}")


wish("Manohar") # Now we are calling function named wish(), but within this function we are calling another function called wish_from_Univ

Hello Manohar
Welcome to IIT
<class 'int'>

#### Loops

Python has 2 primitive loop commands
  1. While
  2. For

In [ ]:
# While

i = int(input("Please enter any value below 10 :"))

while i < 10:
  print("Hello World")
  i = i+1

Please enter any value below 10 :7
Hello World
Hello World
Hello World

In [ ]:
j = int(input("Please enter any value below 10 :"))

while j != 0 :
  print("Hello World")
  if j == 5:
    break
  j = j-1

Please enter any value below 10 :7
Hello World
Hello World
Hello World

In [ ]:
j = int(input("Please enter any value below 10 :"))
while j != 0:
    if j == 5:
        j = j - 4
        #print("At this point the j value is 5")
        continue
    print("Hello World")
    j = j - 1

Please enter any value below 10 :7
Hello World
Hello World
Hello World

In [ ]:
j = int(input("Please enter any value below 10 :"))
while j != 0:
    if j == 5:
        j = j - 3
        #print("At this point the j value is 5")
        continue
    print("Hello World")
    j = j - 1

Please enter any value below 10 :10
Hello World
Hello World
Hello World
Hello World
Hello World